/* fix styles for layered navigation menus */

.nav-primary + .nav-secondary {
    margin-top: -1 * $navbar-margin-bottom;
    z-index: $zindex-navbar - 1;
}

/* Display Bootstrap Nav Secondary Items even when JavaScript is disabled */
.no-js .menu-item-has-children:hover .dropdown-menu,
.no-js .menu-item-has-children:focus .dropdown-menu {
    display: block;
}

/* Add logo styles to contain image inside nav */
.navbar-brand > img {
    max-height: 100%;
    height: 100%;
    width: auto; 
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
 